/*==========  Desktop First Method  ==========*/

//@media only screen and (max-width : 1400px)

/* Large Devices, Wide Screens */



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}


@media only screen and (max-width : 860px) {

}



// /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}



// Extra Small Devices, Phones
@media only screen and (max-width : 480px) {
	.header {
		&__topline {
			flex-direction: column;
			align-items: center;
		}
		&__logo {
			margin-bottom: 40px;
		}

	}
}

// Extra Small Devices, Phones
@media only screen and (max-width : 380px) {

}

